# run this file first
# pip install -r requirements.txt

Flask
oursql
Flask-Bcrypt
Flask-HTTPAuth
Flask-RESTful
Flask-SQLAlchemy
MarkupSafe
SQLAlchemy
SQLAlchemy-Utils
Werkzeug
aniso8601
decorator
infinity
intervals
itsdangerous
marshmallow
py-bcrypt
pytz
six
validators
wsgiref
gunicorn